$blue-white: #f0f4fc;
$blue-white-secondary: #cbced4;
$blue-purple: #1f4284;
$blue-purple-light: #244c98;
$primary-grey: #727272;
$white: #ffffff;
$dark: #323232;

$breakpoint_lg: 1440px;
$breakpoint_md: 768px;
$breakpoint_sm: 375px;
